/* Global variables */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: var(--tertiary-color);
  font-size: 12px;
}

:root {
  --primary-color: rgb(29, 53, 87, 1);
  --secondary-color: #f1faee;
  --tertiary-color: #213947;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

li {
  overflow-y: hidden;
  font-weight: bold;
}

button {
  text-transform: uppercase;
}

/* Intro section */
.intro {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(29, 53, 87, 1),
      rgb(29, 53, 87, 0.1)
    ),
    url(pics/wallpaper_green.jpg) !important;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.menu-container {
  width: 100%;
  height: 8.5vh;
  min-height: 8.5vh;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.menu a {
  font-size: 1.8rem;
  text-decoration: none;
}

.menu li {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  padding: 0.25rem 1rem;
  border-bottom: 0.5px solid transparent;
}

.menu li:hover {
  border-color: var(--secondary-color);
  background-color: transparent;
}

.logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  padding: 0.25rem 1rem;
}

/* Menu activated */
.active {
  position: fixed !important;
  height: 8.5vh;
  min-height: 8.5vh;
  width: 100%;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 1;
}
.active a {
  color: var(--primary-color);
  z-index: 1000;
}
.active li {
  transition: all 0.25s ease-in-out;
  padding: 0.5rem;
}
.active li:hover {
  border-color: var(--primary-color);
}

/* Menu ends */

.intro-main-wrapper {
  width: 100%;
  height: 90%;
}

.intro-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

.intro-header {
  position: relative;
  bottom: 6.55rem;
}

.intro-text {
  position: relative;
  bottom: 5.45rem;
}

.intro-button {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  padding: 1rem 2rem;
  border: none;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-size: 2rem;
}

.intro-button:hover {
  background-color: var(--tertiary-color);
  background-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media screen and (min-width: 620px) {
  .intro h1 {
    font-size: 6rem;
  }
  .intro p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 720px) {
  .menu {
    position: relative;
    left: 40%;
    width: 60%;
  }
}

/* About section */
.about {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card {
  margin: 8rem auto 0;
  padding: 2.5rem;
  width: 90%;
  height: 75%;
  border: 0.5px solid var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-title {
  padding: 1rem 1.25rem 0.25rem;
  border-bottom: 1.25px solid var(--secondary-color);
}

.about-text {
  padding: 1rem;
  line-height: 2;
  margin-top: 1rem;
}

.about-skills {
  width: 100%;
  margin-top: 2.5rem;
  padding: 1rem 2.25rem;
  display: flex;
  justify-content: space-between;
}

.about-button {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 2rem;
  border: none;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--secondary-color);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 2rem;
  transition: all 250ms ease-in-out;
}

.about-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about-skills i {
  font-size: 2.5rem;
}

.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #2965f1;
}
.fa-js {
  color: #f7df1e;
}
.fa-sass {
  color: #c69;
}
.fa-git {
  color: #f34f29;
}
.fa-react {
  color: #00d8ff;
}

@media screen and (min-width: 560px) {
  .about-card {
    width: 70%;
    height: 100%;
  }
  .about-card p {
    font-size: 2rem;
  }
  .about-card i {
    font-size: 3rem;
  }
  .button {
    font-size: 2rem;
  }

  .about-skills i {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1060px) {
  .about-card {
    width: 62.5%;
    height: 70%;
  }
  .about-text {
    width: 80%;
  }
  .about-skills {
    width: 70%;
  }
}

/* Project section */
.projects-filler {
  visibility: hidden;
}

.projects-title {
  margin-top: 10%;
}

.projects {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.projects-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.project {
  margin-top: 3rem;
  width: 90%;
  max-height: 50%;
  border: 1px solid transparent;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;
}

.project-image-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  height: auto;
}

.project-content-wrapper {
  border-top: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.75rem;
  border-radius: 0 0 10px 10px;
  flex: 1;
  box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.75);
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  border-radius: 10px 10px 0 0;
}

.project h3 {
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid var(--primary-color);
}

.project p {
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.45rem;
}

.project button {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.project-stacks,
.project-links {
  width: 180px;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-stacks-item {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.project i {
  font-size: 3.5rem;
}

.project-stacks-name {
  font-size: 1rem;
  display: none;
}

.project-links {
  margin: 1rem auto 0;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: space-around;
}

.project-github,
.project-live {
  background-color: transparent;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  transition: all 0.25s ease-in-out;
}

.project-github:hover,
.project-live:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

@media screen and (min-width: 760px) {
  .project {
    width: 85%;
    margin: 2rem 2rem 0 2rem;
  }

  .project p {
    width: 75%;
    font-size: 1.85rem;
  }
}

@media screen and (min-width: 760px) {
  .project {
    width: 75%;
    margin: 2rem 2rem 0 2rem;
  }
}

@media screen and (min-width: 960px) {
  .projects-contents {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .project {
    width: 45%;
    margin: 2rem 2rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .projects-contents {
    width: 95%;
    justify-content: center;
  }
  .project {
    width: 38%;
    margin: 2rem 2rem 0 2rem;
  }
}

/* Contact section */
.contact {
  height: 80vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  margin-top: 7.5%;
  margin-bottom: 1.5rem;
}

.contact h3 {
  margin-bottom: 1.5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  font-size: 1.5rem;
}

.contact input,
.contact textarea {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  border-style: none;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.contact button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: fit-content;
  padding: 1rem 1.75rem;
  border: none;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  align-self: center;
  margin-top: 1.5rem;
}

.contact button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media screen and (min-width: 680px) {
  .contact input,
  .contact textarea {
    font-size: 16px;
  }
  .contact button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .contact form {
    width: 100%;
    padding: 0 2.5rem;
  }
}

/* Misc Elements */
.scroll-up-btn {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  font-size: 1.25rem;
  padding: 1.25rem;
  border: none;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--secondary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  position: fixed;
  bottom: 20%;
  right: 5%;
  font-weight: bold;
  z-index: 9999;
  display: none;
  transition: all 0.3s ease-in-out;
}
.scroll-up-btn:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}
.scroll-active {
  display: block;
}
