/* 
Global variables start
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: var(--primary-color);
}

:root {
  --primary-color: rgb(29, 53, 87, 1);
  --secondary-color: #f1faee;
  --tertiary-color: #213947;
}

p {
  font-size: 16px;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

button {
  text-transform: uppercase;
}
/* 
global variables end 
*/

/* 
hero section start
*/
.intro {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(29, 53, 87, 0.1),
      rgb(29, 53, 87, 1)
    ),
    url(pics/wallpaper_green.jpg) !important;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.menu-container {
  width: 100%;
  padding: 3rem;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.menu a {
  text-decoration: none;
}

.menu li {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
  padding: 0.25rem 1rem;
  border-bottom: 0.5px solid transparent;
}

.menu li:hover {
  border-color: var(--secondary-color);
  background-color: transparent;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  top: 30%;
  text-align: center;
}

.hero-header {
  font-size: 1.5rem;
}

.hero-text {
  font-size: 1.25rem;
}

@media screen and (min-width: 720px) {
  .menu {
    position: relative;
    left: 40%;
    width: 60%;
  }
  .hero-header {
    font-size: 4.5rem;
  }
  .hero-text {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
/* 
hero section end 
*/

/* 
Skills section start
*/
.skills {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  padding: 8rem 0;
}

.skills-title {
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 0;
}

.skills-icons {
  font-size: 1rem;
  width: 100%;
  margin: 2rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-icons-item {
  margin: 0 10px;
  display: flex;
  max-width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-icons-item img {
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .skills-title {
    text-align: center;
    font-size: 2rem;
  }
  .skills-icons {
    width: 700px;
    justify-content: space-evenly;
  }
}
/* 
Skills section end
*/

/*  
Projects section start
*/
.projects {
  margin-top: 8rem;
  background: linear-gradient(
    to bottom,
    rgba(29, 53, 87, 1),
    rgba(33, 57, 71, 1)
  );
}
.projects-title {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem 0 0 0;
}

.projects-contents {
  width: 95%;
  margin: 0 auto;
}

.projects-item:first-child {
  margin-top: 1.5rem;
}

.projects-item {
  margin-top: 5rem;
}

.projects-item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
}

.projects-item-desc {
  padding: 10px;
}

.projects-item-desc-title {
  font-size: 1.5rem;
}

.projects-item-desc-text {
  margin-top: 0.5rem;
  line-height: 2;
}

.projects-item-desc-feats {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.projects-item-desc-feats span {
  border: 1px solid var(--secondary-color);
  border-radius: 6.5px;
  color: var(--secondary-color);
  padding: 2.5px 7px;
  margin: 3px;
}

.projects-item-links {
  margin-top: 5px;
}

.projects-item-links i {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 8px 8px 8px 0;
}

@media screen and (min-width: 768px) {
  .projects-title {
    font-size: 2rem;
    text-align: center;
  }
  .projects-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-item {
    display: flex;
    width: 100%;
    max-width: 860px;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
  }
  .projects-item:nth-child(2) img {
    order: 1;
  }
  .projects-item-desc {
    width: 50%;
  }
  .projects-item img {
    width: 50%;
  }
}

/*  
Projects section end
*/

/* 
Contact section start
*/
.contact {
  background-color: var(--tertiary-color);
  padding: 15rem 0 15rem 0;
}

.contact h2 {
  text-align: center;
}

.contact-container {
  color: var(--secondary-color);
  margin: 3rem auto;
}

.contact-texts {
  padding: 2rem;
  line-height: 3;
  font-size: 1.1rem;
}

.contact-texts p {
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.contact-texts a {
  margin-top: 10px;
  letter-spacing: 1.5px;
  text-decoration: underline;
  cursor: pointer;
}

.contact-texts i {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .contact h2 {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 32px;
  }
  .contact-container {
    width: 400px;
    font-size: 1.5rem;
  }
  .contact-texts {
    font-size: 1.35rem;
  }
  .contact-texts p {
    font-size: inherit;
  }
}
/* 
Contact section end
*/
